@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();

    var index = 0;

    // Path to the resx file
    AddProcessData("resourcepath", "/DesktopModules/RocketThemes/AppThemes-W3-CSS/rocketcontentapi.Contact/1.0/resx");

}

<div class="h4-headline">
    Dernières actus
</div>
<!-- Faire le href plus tard parce que j'ai pas d'idée de comment le faire -->
<div class="blogsat">
    @foreach (var articleRowData in articleData.GetRows())
    {
        var info = articleRowData.Info;
        // Changement format de date (dd/MM/yyy)
        var date = info.GetXmlPropertyDate("genxml/lang/genxml/textbox/newsdate");
        var dateFormat = date.ToString("dd/MM/yyyy");

        <p>@dateFormat - @info.GetXmlProperty("genxml/lang/genxml/textbox/title")</p>
    }
</div>

@{var tabddlvalue = PagesUtils.NavigateURL(37);}
<a href="@(tabddlvalue)">Toutes les actualités</a>



