@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");

}

@foreach (var articleRowData in articleData.GetRows())
{
    var info = articleRowData.Info;
    // var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
    if (!info.GetXmlPropertyBool("genxml/checkbox/hiderow"))
    {
        <div class="w3-display-container">
            <div class="w3-row">
                <h2>
                    <b>@info.GetXmlProperty("genxml/textbox/citation")</b>
                </h2>
            </div>

            <div class="w3-row">
                <h4>
                    <i>@info.GetXmlProperty("genxml/textbox/auteur")</i>
                </h4>
            </div>
        </div>
    }
}


